.contenedor {
    display: flex;
    margin: 0 auto;
    width: 80%;
    }
    .izquierda {
        width: 40%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px;
        padding: 20px;
    }
    .derecha{
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px;
    }
    